@font-face {
    font-family: AkzidenzGrotesk-BoldExtended;
    src: url('./font/AkzidenzGrotesk-BoldExtended.otf');
}

@font-face {
    font-family: AkzidenzGrotesk-MediumExtended;
    src: url('./font/AkzidenzGrotesk-MediumExtended.otf');
}
@font-face {
    font-family: HYQiHei-60S;
    src: url('./font/HYQiHei-60S.otf');
}
@font-face {
    font-family: HYQiHei-70S;
    src: url('./font/HYQiHei-70S.otf');
}

@font-face {
    font-family: AkzidenzLight;
    src: url('./font/AkzidenzLight.otf');
}

@font-face {
    font-family: DIN-Bold;
    src: url('./font/DIN-Bold.otf')
}

@font-face {
    font-family: DINPro-Regular;
    src: url('./font/DINPro-Regular.otf')
}

@font-face {
    font-family: DIN-Medium;
    src: url('./font/DIN-Medium.otf');
}